@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --cool-purple: rgb(78, 172, 207);
  --main-color: rgb(108, 35, 235);
}

@keyframes lf {
  0% {
    left: -200%;
  }
  100% {
    left: 200%;
    opacity: 0;
  }
}
@keyframes lf2 {
  0% {
    left: -200%;
  }
  100% {
    left: 200%;
    opacity: 0;
  }
}
@keyframes lf3 {
  0% {
    left: -200%;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@keyframes lf4 {
  0% {
    left: -200%;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

*::selection {
  color: var(--main-color);
}

html {
  scroll-behavior: smooth;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
::-webkit-scrollbar {
  width: 10px;
  background: #121212;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--main-color);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
    inset -2px -2px -2px rgba(0, 0, 0, 0.25);
}

.navbarr {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
  z-index: 99999;
}

.navbarr.sticky {
  padding: 15px 0;
  background: var(--main-color);
}

.navbarr .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarr .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.navbarr .logo a span {
  color: var(--main-color);
  transition: all 0.3s ease;
}
.navbarr.sticky .logo a span {
  color: #fff;
}
.navbarr .menu li {
  list-style: none;
  display: inline-block;
}
.navbarr .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbarr .menu li a:hover {
  color: var(--main-color);
}

.navbarr.sticky .menu li a:hover {
  color: #fff;
}

.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 45px;
  background: var(--main-color);
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.home {
  display: flex;
  background: #121212 no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
  margin: auto 0 auto 150px;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: var(--main-color);
  font-weight: 500;
}

.painful {
  position: absolute;
  display: inline-block;
  background: var(--main-color);
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid var(--main-color);
  transition: all 0.3s ease;
}

.painful:hover {
  background: none;
  color: var(--main-color);
}

section {
  padding: 100px 0;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

section .title::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 220px;
  height: 3px;
  background: #121212;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: var(--main-color);
  padding: 5px;
  background: #fff;
  transform: translateX(-50%);
}
.features,
.contributors {
  color: #fff;
  background: #121212;
  font-family: 'Poppins', sans-serif;
}
.features .title::before,
.contributors .title::before {
  background: #fff;
}
.features .title::after,
.contributors .title:after {
  background: #121212;
  content: '><';
}
.features .features-content,
.stats .stats-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.card {
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}
.card:hover {
  background: var(--main-color);
}
.card:hover i {
  color: #fff;
}
.card .box {
  transition: all 0.3s ease;
}
.card:hover .box {
  transform: scale(1.05);
}
.card i {
  font-size: 50px;
  color: var(--main-color);
  transition: color 0.3s ease;
}
.card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  color: orange;
}

.stats {
  font-family: 'Poppins', sans-serif;
  background: #fff;
}

.stats .title::after {
  content: 'thank you for using';
}

.stats p {
  color: #fff;
  font-size: 18px;
}

.contributors .title::after {
  content: 'amazing people';
}
.contributors .carousel .cardd {
  /* center the card */
  margin: 0 auto;
  background: #222;
  height: 370px;
  width: 500px;
  border-radius: 6px;
  padding: 25px 35px;
  transition: all 0.3s ease;
}
.contributors .carousel .cardd:hover {
  background: var(--main-color);
}
.contributors .carousel .cardd .boxx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease;
}

.contributors .carousel .cardd:hover .boxx {
  transform: scale(1.05);
}
.contributors .carousel .cardd .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

/* make the banneer take the width of the card */
.banneer {
  display: flex;
  position: relative;
  object-fit: contain;
  width: 110%;
  height: 115%;
  overflow: hidden;
}
.contributors .carousel .cardd .boxx .banneer {
  overflow: hidden;
  /* object-fit: contain; */
  padding: 0 0px 50px 00px;
}

.contributors .carousel .cardd .pfp {
  position: absolute;
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgb(108, 35, 235);
  transition: all 0.3s ease;
}
.contributors .carousel .cardd:hover .pfp {
  border-color: #fff;
}

.badges {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}
.badges.owner {
  background: #6822b7;
}
.badges.developer {
  background: orange;
  color: #121212;
  border: none;
}

/* responsive */

@media (max-width: 690px) {
  .max-width {
    padding: 0 25px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
    padding: 9px 25px;
  }

  .card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
}

.longfazers {
  position: absolute;
  width: 100%;
  height: 100%;
}
.longfazers span {
  position: absolute;
  height: 4px;
  width: 20%;
  background: var(--main-color);
}
.longfazers span:nth-child(1) {
  top: 40%;
  animation: lf 0.6s linear infinite;
  animation-delay: -5s;
}
.longfazers span:nth-child(2) {
  top: 20%;
  animation: lf2 0.8s linear infinite;
  animation-delay: -1s;
}
.longfazers span:nth-child(3) {
  top: 80%;
  animation: lf3 0.6s linear infinite;
}
.longfazers span:nth-child(4) {
  top: 60%;
  animation: lf4 0.5s linear infinite;
  animation-delay: -3s;
}
